.wallpaper-background {
  background: url('images/rainbow.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
}

h1 {
  font-size: 80px;
}

.ui.red.massive.button.reportButton:hover{
  background-color:yellow !important;
  color:red !important;
}

p {
  padding-top: 0%;
  padding-bottom: 40%;
}

.redText {color:red;}
